:root {
    --primary: white;
    --secondary: black;
    --backimg: 350px;
    --tertiary: #424242;
    --background-black: rgba(0,0,0,0.9);
}

* {
    padding: 0;
    margin: 0;
}

html,
body,
.container-fluid {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.dark-mode {
    background-color: var(--secondary);
    color: var(--primary);
}

/*header seaction*/

.header {
    font-size: 2.2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: var(--primary);
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    box-shadow: 0 0 5px 0 grey;
    display: flex;
    z-index: 10;
}

.header.dark-mode {
    background-color: var(--secondary);
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.logo {
    width: 30%;
}

.nav-wrapper {
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.navbar {
    background-color: inherit;
    color: inherit;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.8rem;
}

.navbar-items {
    width: 33%;
    text-align: center;
}

.navbar-items>a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bolder;
}

.navbar-items.dark-mode>a {
    color: var(--primary);
}

.navbar:hover .navbar-items:not(:hover) {
    opacity: 0.5;
}

/* theme changer */

.fa-moon {
    color: black !important;
}

.fa-sun {
    color: rgba(255,165,0,0.99) !important;
}

/*account section*/

.account {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
}

.search {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border: 2px solid var(--secondary);
    border-radius: 20px;
}

.search.dark-mode {
    border: 2px solid var(--primary);
}

input[type="search"] {
    width: 90%;
    font-size: 2.5rem;
    border-radius: 5px;
    border: 0;
    background-color: transparent;
}

input[type="search"]:focus-visible {
    border: 0;
    outline: 0;
}

.search>label {
    position: relative;
    float: left;
    padding: 5px 10px 5px 5px;
}

.account>i {
    width: 10%;
    padding: 0 10px;
    text-align: center;
    color: var(--secondary);
    cursor: pointer;
}

.account>a {
    cursor: pointer;
}

.account.dark-mode>i {
    color: var(--primary);
}

.back-img1, .back-img2, .back-img3, .back-img4 {
    width: var(--backimg);
    height: var(--backimg);
    position: fixed;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--background-black);
}

.back-img1.dark-mode, .back-img2.dark-mode, .back-img3.dark-mode, .back-img4.dark-mode {
    background-color: var(--primary) !important;
    opacity: 1;
}

.back-img1 {
    bottom: -170px;
    left: -170px;
}

.back-img2 {
    top: -110px;
    right: -170px;
}

.back-img3 {
    top: -110px;
    left: -170px;
}

.back-img4 {
    bottom: -170px;
    right: -170px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 60px);
    z-index: -1;
    overflow-y: auto;
    position: relative;
}

.details:first-of-type {
    margin-top: 60px;
}

.details.dark-mode {
    background-color: var(--background-black);
}

.mainsec {
    height: 80%;
    width: 80%;
    border-radius: 40px;
    border: 1px solid var(--secondary);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mainsec.dark-mode {
    border: 1px solid var(--primary);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 1);
    background-color: var(--background-black) !important;
}

/*Login Box*/

.modal-sign {
    width: 45%;
    text-align: center;
    font-size: 2rem;
}

.modal-sign p {
    margin: 0;
}

.in {
    padding: 5px 5px;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    width: 90%;
}

.fa-solid {
    padding-right: 10px;
    font-size: 2.2rem;
}

.card,
.modal-content {
    border: 0;
    border-radius: 20px;
}

.modal-content {
    border: 1px solid var(--secondary) !important;
}

.modal-content.dark-mode {
    border: 1px solid var(--primary) !important;
}

.a-close {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 5%;
    font-size: 2rem;
    color: var(--tertiary);
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    background-color: transparent;
}

.a-close:hover {
    color: var(--secondary);
}

.a-close.dark-mode {
    color: var(--tertiary);
}

.a-close.dark-mode:hover {
    color: var(--primary);
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 0 20px 0;
}

.in.dark-mode {
    border-color: rgba(255, 255, 255, 0.7);
}

.in.dark-mode:focus-visible {
    border-color: rgb(255, 255, 255);
}

.s-btn {
    width: 50%;
    padding: 4px 0;
    background-color: var(--tertiary);
    font-size: 1.8rem;
    border-color: rgba(0, 0, 0, 0.9);
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 2px;
}

.act {
    text-decoration: none !important;
    color: var(--tertiary);
    font-weight: 800;
}

.act.dark-mode {
    color: var(--primary);
}

.s-btn.dark-mode {
    border-color: rgba(255, 255, 255, 0.9);
}

.si-co {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 40px;
}

.hrr,.si-op p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0 10px 0;
    font-size: 1.8rem;
}

.si-op p{
    margin: 0 0 20px 0;
}
.hrr p {
    margin: 0;
}

.hrr hr {
    height: 8px !important;
    background-color: var(--tertiary) !important;
    width: 40%;
    display: inline-block;
}

.hrr.dark-mode hr {
    background-color: var(--primary) !important;
}

.op {
    margin: 0 25px;
}

.op:hover {
    color: #228B22;
}